{{ define "slack.default.fallback" }}
fallback
{{ end }}

{{ define "slack.default.pretext" }}
pre text
{{ end }}

{{ define "slack.default.title" }}
Title
{{ end }}

{{ define "slack.default.titlelink" }}
http://localhost:9090
{{ end }}

{{ define "slack.default.text" }}
my text
my text
my text
{{ end }}

{{ define "email.default.header" }}From: "Prometheus Alertmanager" <{{ .From }}>
To: {{ .To }}
Date: {{ .Date }}
Subject: [{{ .Alerts.Status }}] {{ .GroupLabels }}
Content-Type: text/html; charset=UTF-8
{{ end }}

{{ define "email.default.html" }}
<h1 style="font-size: 115%">{{ len .Alerts }} alert(s) for {{ .GroupLabels }}</h1>

  {{ range .Alerts }}
<div style="
	padding: 18px;
	margin-top: 7px;
	border: 1px solid #bbb;
">
  <strong>{{ .Status }}</strong><br>
  <div style="float: left; min-width: 150px;">
    <em>Labels</em><br>
    <ul>
{{range $label, $value := .Labels}}
      <li>{{$label}}:	{{$value}}</li>
{{end}}
    </ul>
  </div>
  <div style="float: left; margin-left: 15px">
    <em>Annotations</em><br>
    <ul>
{{ range $label, $value := .Annotations }}
      <li>{{ $label }}:	{{ $value }}</li>
{{end}}
    </ul>
  {{ end }}
  </div>
  <div style="clear: both;"></div>
</div>
{{ end }}