{{ define "dingtalk.content" }}
Group: {{ .GroupLabels.alertname }}
Detail: 
  {{ range .Alerts }}
    Begin At: {{ .StartsAt.Format "2006-01-02 15:04:05" }}
    End At: {{ .EndsAt.Format "2006-01-02 15:04:05" }}
    Description: {{ .Annotations.info }}
  {{ end }}
{{ end }}