{{ define "dingTalk.json" }}
    {{ $key_map := (`{"alertname":"告警名称","service":"服务","severity":"告警级别","message":"说明","instance":"实例"}`|toMap) }}
    {{ $alert_name := "" }}
    {{ $alert_status := "" }}
    {{ if eq .Status "firing" }}
        {{ $alert_status = printf "【告警触发】[未处理: %d]" (.Alerts.Firing | len)  }}
    {{ else if eq .Status "resolved" }}
        {{ $alert_status = printf "【告警恢复】[已处理: %d]" (.Alerts.Resolved | len)  }}
    {{ else }}
        {{ $alert_status =(.Status | toUpper) }}
    {{ end }}
    {{ range .GroupLabels.SortedPairs }} {{ if eq .Name "alertname" }}{{ $alert_name = (.Value) }}{{end}} {{ end }}
    {{ $alert_title := (printf "%s %s 告警"  $alert_status $alert_name ) }}
    {{ $alert_msg := (printf "### %s %s 告警"  $alert_status $alert_name ) }}
    {{ range .Alerts.Firing }}
        {{ range .Labels.SortedPairs }}
            {{ if (ne (index $key_map .Name) "") }}
                {{ $alert_msg = (printf "%s\\n\\n> %s: %s" $alert_msg (index $key_map .Name) .Value ) }}
            {{else}}
                {{ $alert_msg = (printf "%s\\n\\n> %s: %s" $alert_msg .Name .Value ) }}
            {{end}}
        {{ end }}
        {{ range .Annotations.SortedPairs }}
            {{ if (ne (index $key_map .Name) "") }}
                {{ $alert_msg = (printf "%s\\n\\n> %s: %s" $alert_msg (index $key_map .Name) .Value ) }}
            {{else}}
                {{ $alert_msg = (printf "%s\\n\\n> %s: %s" $alert_msg .Name .Value ) }}
            {{end}}
        {{ end }}
        {{ $alert_msg = (printf "%s\\n\\n> [监控数据](%s)" $alert_msg .GeneratorURL ) }}
    {{ end }}
    {
         "msgtype": "markdown",
         "markdown": {
             "title":"{{ $alert_title }}",
             "text": "{{ $alert_msg }}"
         },
        "at": {
            "atMobiles": [
            ],
            "isAtAll": false
        }
     }
{{ end }}
