/data/
/alertmanager
/amtool
*.yml
*.yaml
/.build
/.release
/.tarballs
/vendor

!.golangci.yml
!/cli/testdata/*.yml
!/cli/config/testdata/*.yml
!/cluster/testdata/*.yml
!/config/testdata/*.yml
!/examples/ha/tls/*.yml
!/notify/email/testdata/*.yml
!/doc/examples/simple.yml
!/circle.yml
!/.travis.yml
!/.promu.yml
!/api/v2/openapi.yaml


.idea/
.DS_Store
output/
etc_local/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bs-basement-api
bs-basement-rpc
bs-basement-job

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
# Build
bulid/

etc_local

# venv
/vendor/

# Log
*.log

# VSCode settings
.vscode

# IDEA files
.idea

# OSX dir files

# Sublime Text settings
*.sublime-workspace
*.sublime-project
