[Unit]
Description=Prometheus Alertmanager handling alerts sent by client applications such as the Prometheus server.
Documentation=https://github.com/prometheus/alertmanager

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/prometheus-alertmanager
ExecStart=/usr/bin/alertmanager $CONFIG_FILE $STORAGE_PATH $CLUSTER_PEERS $OTHER_ARGS
ExecReload=/bin/kill -SIGHUP $MAINPID
ExecStop=/bin/kill -SIGKILL $MAINPID

[Install]
WantedBy=multi-user.target
