.header {
  background-color: rgb(65, 73, 81);
  color: #fff;
  border-bottom: 1px solid var(--mantine-color-gray-6);
}

.navMain {
  flex: 1;
}

.navLink {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-0);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  background-color: transparent;

  @mixin hover {
    background-color: var(--mantine-color-gray-6);
    color: var(--mantine-color-gray-0);
  }

  [data-mantine-color-scheme] &[aria-current='page'] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
