<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prometheus Alert Manager</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/static/vendor/bootstrap/js/bootstrap.js" type="text/javascript"></script>

    <link href="/static/vendor/tarruda_bootstrap_datetimepicker/css/bootstrap-datetimepicker.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/static/vendor/tarruda_bootstrap_datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <link href="/static/css/default.css" media="all" rel="stylesheet" type="text/css" />

    {{template "head" .}}
  </head>
  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Alert Manager</a>
        <ul class="nav">
          {{define "alertsTabClass"}}{{end}}
          {{define "silencesTabClass"}}{{end}}
          {{define "statusTabClass"}}{{end}}
          <li class="{{template "alertsTabClass"}}"><a href="/alerts">Alerts</a></li>
          <li class="{{template "silencesTabClass"}}"><a href="/silences">Silences</a></li>
          <li class="{{template "statusTabClass"}}"><a href="/status">Status</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {{template "content" .}}
  </div>
  <div class="container-fluid">
    <hr class="clear-top">
    <footer>
      <p>
        Code: <a href="https://github.com/prometheus/alert_manager">prometheus/alert_manager</a>
        Contact: <a href="mailto:prometheus-developers@googlegroups.com">prometheus-developers</a>
        © Prometheus Authors 2013
      </p>
    </footer>
  </div>
  </body>
</html>
{{define "editSilenceModal"}}
    <!-- Modal -->
    <div id="edit_silence_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit_silence_header" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="edit_silence_header">Create Silence</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="edit_silence_form">
          <div class="control-group">
            <label class="control-label" for="silence_created_by">Creator</label>
            <div class="controls">
              <input type="text" id="silence_created_by" placeholder="Creator" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="silence_ends_at">Ends At</label>
            <div class="controls">
              <div id="ends_at_datetimepicker" class="input-append date">
                <input type="text" id="silence_ends_at" placeholder="Ends At (default 1h from now)" data-format="dd/MM/yyyy hh:mm:ss">
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="silence_created_by">Comment</label>
            <div class="controls">
              <input type="text" id="silence_comment" placeholder="Comment">
            </div>
          </div>
          <label>Label filters:</label>
          <table id="silence_filters_table">
          </table>
          <br/>
          <button type="button" class="btn" id="add_filter_button"><i class="icon-plus"></i> Add Label Filter</button>
          <button type="button" class="btn">Preview Silence</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button type="submit" class="btn btn-primary" id="edit_silence_btn">Create Silence</button>
        </div>
      </form>
    </div>
{{end}}
