{{define "alertsTabClass"}}active{{end}}

{{define "head"}}
    <script src="/static/js/alerts.js"></script>
{{end}}

{{define "content"}}
    <h2>Alerts</h2>
    <div class="input-append">
      <input class="input-xxlarge" type="text" value="service=&quot;*&quot;">
      <button class="btn" type="button"><i class="icon-filter"></i></button>
    </div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Alert</th>
          <th>Labels</th>
          <th>Active Since</th>
          <th>Last Refreshed</th>
          <th>Silenced</th>
        </tr>
      </thead>
      <tbody>
        {{$silenceForEvent := .SilenceForEvent}}
        {{range .AlertAggregates}}
          <tr>
            <td>
              <span class="label label-important">{{index .Event.Name}}</span>
              <form class="add_silence_form">
                <input type="hidden" name="label[]" value="alertname">
                <input type="hidden" name="value[]" value="{{.Event.Name}}">
                <a href="#edit_silence_modal" role="button" class="btn btn-mini add_silence_btn" data-toggle="modal">Silence Alert</a>
              </form>
            </td>
            <td>
              {{range $label, $value := .Event.Labels}}
                {{if not (eq $label "alertname")}}
                  <span class="label label-info"><b>{{$label}}</b>="{{$value}}"</span>
                {{end}}
              {{end}}
              <form class="add_silence_form">
                {{range $label, $value := .Event.Labels}}
                  <input type="hidden" name="label[]" value="{{$label}}">
                  <input type="hidden" name="value[]" value="{{$value}}">
                {{end}}
                <a href="#edit_silence_modal" role="button" class="btn btn-mini add_silence_btn" data-toggle="modal">Silence Instance</a>
              </form>
            </td>
            <td>{{timeSince .Created}} ago</td>
            <td>{{timeSince .LastRefreshed}} ago</td>
            <td>
              {{$silence := call $silenceForEvent .Event}}
              {{if $silence}}
                by <a href="#" class="silence_link">silence {{$silence.Id}}</a>
              {{else}}
                not silenced
              {{end}}
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
    {{template "editSilenceModal" .}}
{{end}}
