{{define "silencesTabClass"}}active{{end}}

{{define "head"}}
    <script src="/static/js/alerts.js"></script>
{{end}}

{{define "content"}}
    <h2>Silences</h2>
    <p><a href="#create_silence_modal" role="button" class="btn btn-primary" id="new_silence_btn" data-toggle="modal">New Silence</a></p>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Labels</th>
          <th>Creator</th>
          <th>Expires At</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
        <tr>
          <td>{service="Taxes",country="*"}</td>
          <td>your government</td>
          <td>2050-01-01 10:23:00</td>
          <td>Taxes are here to stay. Sorry.</td>
          <td>
            <button class="btn btn-mini btn-primary">Edit Silence</button>
            <button class="btn btn-mini btn-danger">Remove Silence</button>
          </td>
        </tr>
      </tbody>
    </table>
    {{template "createSilenceModal" .}}
{{end}}
