{{define "statusTabClass"}}active{{end}}

{{define "head"}}{{end}}

{{define "content"}}
  <div class="container-fluid">
    <h2>Runtime Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        <tr>
          <th>Uptime</th>
          <td>{{.Birth}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Build Information</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .BuildInfo}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

    <h2>Configuration</h2>
    <pre>{{.Config}}</pre>

    <h2>Startup Flags</h2>
    <table class="table table-condensed table-bordered table-striped table-hover">
      <tbody>
        {{range $key, $value := .Flags}}
        <tr>
          <th scope="row">{{$key}}</th>
          <td>{{$value}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
{{end}}
