body {
	overflow-y: scroll;
	background: #fafafa;
}

header {
	padding: 1em 2.5em 1.4em 2.5em;
	background: #404040;
}

header #logo {
	color: #fff;
	float: left;
	margin: 0 80px 0 0;
}

#top-nav a {
	color: #fff;
	text-decoration: none
}

#top-nav .selected a {
	color: #aaa;
}

#top-nav ul {
	float: left;
	list-style: none;
	margin: 8px 0 0 0 ;
}

#top-nav li {
	display: inline-block;
	margin-right: 2.2em;
}

#content {
	padding: 2.5em;
}

#silence-create {
	background: #fff;
	width: 100%;
	min-width: 400px;
}

.silence .delete-button {
	opacity: 0.2;
}
.silence:hover .delete-button {
	opacity: 1.0;
}

.silence .labels, .alert-item .labels {
	background: #bfbfbf;
	padding: .8em;
}
.silence .detail, .alert-item .detail {
	background: #fff;
	padding: .8em;
	display: none;
}
.silence:hover .detail, .alert-item:hover .detail {
	display: block;
}

.silence-matchers {
	margin-bottom: 5px;
}

.silence-matchers .is-regex {
	font-family: monospace;
}

#silences-query {
	margin-bottom: 24px;
}

.list-item {
	background: #fff;
	margin-bottom: 1px;
}

.list-item .container-left {
	width: 650px;
	padding: 1em;
	float: left;
	background: #777;
	color: #eee;
}

.lbl {
	display: inline-block;
	font-size: 0.7em;
	padding: 0 6px;
	margin: 0 2px 2px 0;
	font-family: Menlo, Monaco, Consolas, Courier, monospace;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #555;
	color: #fff;
}
.lbl-highlight {
	background: #e6522c;
}

.list-item .container-right {
	border-left: 650px solid #777;
	padding: 1em;
}

.active-interval {
	color: #aaa;
	font-style: italic;
}


.route {
	border-left: 1px dotted #c0c0c0;
	background: #fff;
}
.route .route {
	margin: 0 0 0 1.5em;
}

.route-header {
	border-bottom: 1px solid #fff;
	padding: .5em .6em;
	background: #f0f0f0;
}

.alert-group-header {
	border-bottom: 1px solid #fff;
	background: rgba(47, 119, 209, .4);
	padding: .5em .6em;
}

input.collapse[type=checkbox] {
	-webkit-appearance: none;
    width: 1em;
    height: 1em;
    border: none;
}
input.collapse[type=checkbox]:after {
	content: '▹';
}
input.collapse.open[type=checkbox]:after {
	content: '▿';
}

.label.alertname {
	background: #fff !important;
}
/**/
input[type="datetime-local"]  {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem 1rem;
  line-height: 1;
  height: 40px;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}