<form id="filter-alerts" method="post" action="" class="forms">
	<fieldset>
		<legend>Filter</legend>

		<blocks cols="2">
			<div>
				<section>
					<label>Receivers</label>
					<select name="select-multi" class="width-6" ng-model="receivers" multiple="multiple"
						ng-options="r for r in allReceivers track by r">
					</select>
				</section>
			</div>

			<div>
				<section>
					<label class="checkbox"><input type="checkbox" ng-model="hideSilenced"> Hide silenced</label>
				</section>
			</div>
		</blocks>
	</fieldset>
</form>

<div id="alert-groups" ng-class="{'hide-silenced': hideSilenced}">
	<div class="alert-group" ng-repeat="group in groups | filter:notEmpty">
		<div class="alert-group-header group">
			<span ng-repeat="(ln, lv) in group.labels" class="lbl {{ ln == 'alertname' ? 'lbl-highlight' : '' }}">
				{{ ln }} = '{{ lv }}'
			</span>
		</div>	
	
		<div ng-repeat="blk in group.blocks">
			<div ng-show="receivers.indexOf(blk.routeOpts.receiver) >= 0" ng-show"blk.alerts">
				<div ng-repeat="a in blk.alerts">
					<alert class="list-item" alert="a" group="group.labels"></alert>
				</div>
			</div>
		</div>
	</div>
</div>