<div class="alert-item" ng-controller="AlertCtrl" ng-class="{silenced: alert.silenced}">
	<div class="overview group">
		<div class="btn-group details expand">
			<button ng-show="showDetails" ng-click="toggleDetails()" type="primary" small>–</button>
			<button ng-hide="showDetails" ng-click="toggleDetails()" type="primary" small>+</button>
			<a class=" gen-link" ng-href="{{ alert.generatorURL }}"><button type="primary" small>Source</button></a>
		</div>

		<div class="labels left">
			<span ng-repeat="(name, value) in alert.labels | orderBy:name">
				<span ng-hide="group[name]" class="lbl {{ name == 'alertname' ? 'lbl-highlight' : 'lbl-outline' }}">
					{{ name }} = "{{ value }}"
				</span>
			</span>
		</div>

		<div class="right">
			<div ng-show="alert.inhibited" class="left lbl muted-lbl">inhibited</div>
			<div ng-show="alert.silenced" class="left lbl muted-lbl"><a ng-href="/#/silences?hl={{ alert.silenced }}">silenced</a></div>
				
			<button type="black" disabled small>Since {{ alert.startsAt | amCalendar }}</button>
			<button class="silence-button" type="black" ng-click="toggleSilenceForm()" small upper>Silence</button>
		</div>
	</div>

	<div class="silence-alert" ng-show="showSilenceForm">
		<silence-form silence="silence"></silence-form>
	</div>

	<div class="detail group" ng-show="showDetails">
		<table class="table-normal annotations">
			<tbody>
				<tr ng-repeat="(name, val) in alert.annotations | orderBy:name">
					<td><strong>{{ name }}</strong></td>
					<td><span ng-bind-html="val | linky:'_blank'"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>