<div>
	<select class="select" ng-model="destinations" multiple>
		<option ng-repeat="dest in allDestinations" value="{{ dest }}">{{ dest }}</option>
	</select>
</div>

<div id="alert-groups" ng-controller="AlertsCtrl">
	<div ng-repeat="group in groups">
		<div class="alert-group-header group">
			<span ng-repeat="(ln, lv) in group.labels" class="lbl {{ ln == 'alertname' ? 'lbl-highlight' : 'lbl-outline' }}">
				{{ ln }} = '{{ lv }}'
			</span>
		</div>	
	
		<div ng-repeat="g in group.groups">
			<div ng-show="destinations.indexOf(g.routeOpts.sendTo) >= 0" class="alert-group" ng-show"g.alerts">
				<div ng-repeat="a in g.alerts">
					<alert class="list-item" alert="a" group="group.labels"></alert>
				</div>
			</div>
		</div>
	</div>
</div>