<div class="route">
	<div class="route-header group">
		<div class="route-matchers left">
			<span ng-repeat="m in route.matchers" class="lbl lbl-outline">
				{{ m.name }} =<span ng-show="m.isRegex">~</span> '{{ m.value }}'
			</span>
		</div>
	</div>
	<div class="alert-groups">
		<div class="alert-group" ng-repeat="group in route.groups">
			<div class="alert-group-header group">
				<span ng-repeat="(ln, lv) in group.labels" class="lbl lbl-outline">
					{{ ln }} = '{{ lv }}'
				</span>
			</div>
			<div ng-repeat="a in group.alerts">
			 	<alert class="list-item" a="a"></alert>
			</div>
		</div>
	</div>

	<div ng-repeat="r in route.routes">
		<route route="r"></route>
	</div>
</div>