<silence-form sil="silence"></silence-form>

<hr> 

<div id="silences-query" class="forms">
	<row>
		<column cols="5">
			<input type="search" placeholder="search" ng-model="query">
		</column>
		<column cols="2">
			<select class="select" ng-model="order">
				<option value="startsAt">start</option>
				<option value="endsAt">end</option>
				<option value="createdAt">created</option>
			</select>
		</column>
	</row>
</div>

<div ng-show="silences.length == 0">No silences configured</div>

<div ng-hide="silences.length == 0" id="silences-list">

	<div class="list-item group" ng-repeat="sil in silences | filter:query | orderBy:order">
		<silence sil="sil"></silence>
	</div>

</div>