<div class="group">
	<div class="right">
		<button ng-hide="showForm" type="primary" ng-click="toggleForm()" small>New Silence</button>
		<button ng-show="showForm" type="primary" ng-click="toggleForm()" small>Hide Form</button>
	</div>
	<div ng-show="showForm">
		<silence-form sil="silence"></silence-form>
	</div>
</div>

<div id="silences-query" class="forms">
	<row>
		<column cols="5">
			<input type="search" placeholder="search" ng-model="query">
		</column>
		<column cols="2">
			<select class="select" ng-model="order">
				<option value="startsAt">start</option>
				<option value="endsAt">end</option>
				<option value="createdAt">created</option>
			</select>
		</column>
	</row>
</div>

<div ng-show="silences.length == 0">No silences configured</div>

<div ng-hide="silences.length == 0" id="silences-list">

	<div class="active-silences">
		<h4 class="thin">Active</h4>
		<div class="list-item group" ng-repeat="sil in silences | filter:query | filter:{active:true} | orderBy:order">
			<silence sil="sil"></silence>
		</div>
	</div>

	<div class="pending-silences">
		<h4 class="thin">Pending</h4>
		<div class="list-item group" ng-repeat="sil in silences | filter:query | filter:{pending:true} | orderBy:order">
			<silence sil="sil"></silence>
		</div>
	</div>

	<div class="elapsed-silences">
		<h4 class="thin">Elapsed</h4>
		<div class="list-item group" ng-repeat="sil in silences | filter:query | filter:{elapsed:true} | orderBy:order">
			<silence sil="sil"></silence>
		</div>
	</div>
</div>
