<div class="silence-item {{ highlight ? 'highlight' : ''}}" ng-controller="SilenceCtrl">
	<div class="overview group">

    <div class="col-lg-8">
      <button type="button" class="btn btn-primary btn-sm btn-spacing pagination-height" ng-show="showDetails" ng-click="toggleDetails()">–</button>
      <button type="button" class="btn btn-primary btn-sm btn-spacing pagination-height" ng-hide="showDetails" ng-click="toggleDetails()">+</button>
      <button type="button" ng-repeat="m in sil.matchers | orderBy:name" ng-class="{'btn-danger': m.name == 'alertname'}" class="btn btn-default btn-xs btn-spacing pagination-height">
        {{ m.name }} =<span ng-show="m.isRegex">~</span> "{{ m.value }}"
      </button>
    </div>

    <div class="col-lg-4">
      <div class="pull-right">
        <button type="black" disabled small>Until {{ sil.endsAt | amCalendar }}</button>
        <button class="delete-button" type="black" ng-click="delete(sil.id)" small upper>Delete</button>
        <button class="edit-button" type="black" ng-click="toggleSilenceForm()" small upper>Edit</button>
      </div>
    </div>

	</div>

	<div class="edit-silence" ng-show="showSilenceForm">
    <silence-form silence="sil" form-title="Edit" button-text="Update"></silence-form>
	</div>

	<div class="detail group" ng-show="showDetails">
		<table class="table-flat">
			<tbody>
				<tr ng-show="sil.createdBy">
					<td>creator</td>
					<td>{{ sil.createdBy }}</td>
				</tr>
				<tr ng-show="sil.comment">
					<td>comment</td>
					<td>{{ sil.comment }}</td>
				</tr>
				<tr>
					<td>active</td>
					<td>
						<span>{{ sil.startsAt | date:'yyyy-MM-dd HH:mm' }}</span>
						–
						<span>{{ sil.endsAt | date:'yyyy-MM-dd HH:mm' }}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
