<div id="silence-create" ng-controller="SilenceCreateCtrl">
	<form novalidate>
		Start: <input ng-model="silence.startsAt" type="datetime-local">
		End: <input ng-model="silence.endsAt" type="datetime-local">

		<div ng-repeat="m in silence.matchers">
			<input placeholder="name" ng-model="m.name">
			<input placeholder="value" ng-model="m.value">
			regex: <input type="checkbox" ng-model="m.isRegex">
			<button ng-hide="$first" ng-click="delMatcher($index)">-</button>
			<button ng-show="$last" ng-click="newMatcher()">+</button>
		</div>

		<div ng-show="error != null">Error: {{ error }}</div>

		<button ng-click="create()">Create</button>
	</form>
</div>

<div id="silences-query">
	<input placeholder="search" ng-model="query">
	
	order by: 
	<select ng-model="order">
		<option value="startsAt">start</option>
		<option value="endsAt">end</option>
		<option value="createdAt">created</option>
	</select>
</div>

<div ng-show="silences.length == 0">No silences configured</div>
<div ng-hide="silences.length == 0" id="silences-list">
	<div ng-repeat="sil in silences | filter:query | orderBy:order">
		{{ sil.startsAt | date:'medium' }} – {{ sil.endsAt | date:'medium' }}
		created: {{ sil.createdAt | date:'medium' }}
		<div ng-repeat="m in sil.matchers | orderBy:name">
			{{ m.name }} = {{ m.value }} <span ng-show="m.isRegex">[re]</span>
		</div>
		<button ng-click="delete(sil)">Delete</button>
	</div>
</div>