<form novalidate name="form" class="forms" ng-controller="SilenceCreateCtrl">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{formTitle}} <small>{{formSubtitle}}</small></h2>
    </div>
  </div>

  <div class="row" class="silence-matchers">
    <div class="col-sm-3">
      <label>Start</label>
      <div class="form-group">
        <label class="sr-only" for="silence-start-time">Name</label>
        <input id="silence-start-time" ng-model="silence.startsAt" type="datetime-local" name="start-time" required>
      </div>
    </div>
    <div class="col-sm-3">
      <label>End</label>
      <div class="form-group">
        <label class="sr-only" for="silence-end-time">Name</label>
        <input id="silence-end-time" ng-model="silence.endsAt" type="datetime-local" name="end-time" required>
      </div>
    </div>
  </div>

  <label>Matchers <span class="desc">Alerts affected by this silence.</span></label>
  <div ng-repeat="m in silence.matchers">
    <div class="row" class="silence-matchers">
      <div class="col-sm-3">
        <div class="form-group">
          <label class="sr-only" for="silence-name-input">Name</label>
          <input type="text" class="form-control" id="silence-name-input" placeholder="Name" ng-model="m.name" required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label class="sr-only" for="silence-value-input">Value</label>
          <input type="text" class="form-control" id="silence-value-input" placeholder="Value" ng-model="m.value" reguired>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="m.isRegex"> Regex
          </label>
        </div>
      </div>
      <div class="col-sm-1" ng-if="!$last">
        <button type="button" class="btn btn-danger btn-sm" ng-if="silence.matchers.length > 1" ng-click="delMatcher($index)">-</button>
      </div>
      <div class="col-sm-1 btn-group" ng-if="$last">
        <button type="button" class="btn btn-danger btn-sm" ng-if="silence.matchers.length > 1" ng-click="delMatcher($index)">-</button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="addMatcher()">+</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      <label>Creator</label>
      <div class="form-group">
        <label class="sr-only" for="silence-created-by">Creator</label>
        <input id="silence-created-by" ng-model="silence.createdBy" type="email" name="creator" placeholder="me@company.com" required>
      </div>
    </div>
    <div class="col-sm-5">
      <label>Comment</label>
      <div class="form-group">
        <label class="sr-only" for="silence-created-reason">Name</label>
        <input id="silence-created-reason" ng-model="silence.comment" type="text" name="comment" placeholder="Reason for silence..." required>
      </div>
    </div>
  </div>

  <div ng-show="error != null" class="alert alert-error">
    <span class="error">{{ error }}</span>
  </div>


  <div class="btn-group">
    <button type="button" class="btn btn-primary" ng-disabled="silence.matchers.length == 0 || form.$invalid" ng-click="create()" upper>{{buttonText}}</button>
    <button type="button" class="btn btn-danger" ng-click="reset()" upper>Reset</button>
  </div>
</form>
