<div ng-controller="StatusCtrl">
  <h1>Status</h1>
  <table>
    <tbody>
      <tr>
        <td>Up since</td>
        <td>{{ uptime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Build info</h2>
  <table>
    <tbody>
      <tr ng-repeat="(key, val) in versionInfo">
        <td>{{ key }}</td>
        <td>{{ val }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Config</h2>
  <pre>{{ config }}</pre>

  <h2>Routing Tree</h2>
  <div class="sans-serif js-routing-tree-wrapper">
    <div class="js-svg inline-block">
      <div>
        <input class="label-input" type="text" placeholder='{service="foo-service", severity="critical"}' \>
        <button type="button" class="js-find-match">Match Label Set</button>
      </div>
    </div>
  </div>
  <script src="lib/d3.v3.min.js"></script>
  <script src="lib/js-yaml.min.js"></script>
  <script src="lib/routing-tree.js"></script>
</div>
