name: CI
on:  # yamllint disable-line rule:truthy
  pull_request:
  workflow_call:
jobs:
  test_frontend:
    name: Test alertmanager frontend
    runs-on: ubuntu-latest
    steps:
      # Updated to official v4 hash
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: make clean
      - run: make all
        working-directory: ./ui/app
      - run: make assets
      - run: make apiv2
      - run: git diff --exit-code

  build:
    name: Build Alertmanager for common architectures
    runs-on: ubuntu-latest
    strategy:
      matrix:
        thread: [0, 1, 2]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: prometheus/promci@c0916f0a41f13444612a8f0f5e700ea34edd7c19 # v0.5.3
      - uses: ./.github/promci/actions/build
        with:
          promu_opts: "-p linux/amd64 -p windows/amd64 -p linux/arm64 -p darwin/amd64 -p darwin/arm64 -p linux/386"
          parallelism: 3
          thread: ${{ matrix.thread }}

  # SPLIT JOB 1: Linux (Supports Containers & Services)
  test_linux:
    name: Test (Linux)
    runs-on: ubuntu-latest
    container: quay.io/prometheus/golang-builder:1.25-base
    
    # Services are valid here because it is Linux only
    services:
      maildev-noauth:
        image: maildev/maildev:2.2.1
      maildev-auth:
        image: maildev/maildev:2.2.1
        env:
          MAILDEV_INCOMING_USER: user
          MAILDEV_INCOMING_PASS: pass
    
    env:
      EMAIL_NO_AUTH_CONFIG: testdata/noauth.yml
      EMAIL_AUTH_CONFIG: testdata/auth.yml
    
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: prometheus/promci@c0916f0a41f13444612a8f0f5e700ea34edd7c19 # v0.5.3
      - uses: ./.github/promci/actions/setup_environment
      - name: Run tests
        run: make
      - run: git diff --exit-code

  # SPLIT JOB 2: macOS (No Containers, No Services)
  test_mac:
    name: Test (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: prometheus/promci@c0916f0a41f13444612a8f0f5e700ea34edd7c19 # v0.5.3
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          
      - uses: ./.github/promci/actions/setup_environment
      
      - name: Run tests (no mail services)
        run: make test
        
      - run: git diff --exit-code